*{
  font-family: 'Oswald';
  letter-spacing: -0.6px;
  color: white;
  box-sizing: border-box;
}

body{
  background-color: rgb(16,16,16);
}


.coolTitle {
  text-align: center;
  font-family: 'Oswald', Helvetica, sans-serif;
  font-size: 40px;
  transform: skewY(-10deg);
  letter-spacing: 4px;
  word-spacing: -8px;
  color: tomato;
  text-shadow: 
    -1px -1px 0 firebrick,
    -2px -2px 0 firebrick,
    -3px -3px 0 firebrick,
    -4px -4px 0 firebrick,
    -5px -5px 0 firebrick,
    -6px -6px 0 firebrick,
    -7px -7px 0 firebrick,
    -8px -8px 0 firebrick,
    -30px 20px 40px dimgrey;
}

.done {
  text-decoration: line-through;
}

header {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  margin-top: 3rem;
}

.add-task {
  width: 50%;
  padding: 0 1rem;
  text-align: center;
}

aside {
  border-right: 2px solid tomato;
}


.input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input button{
  background-color: tomato;
  width: 100%;
  max-width: 300px;
  border: 1px solid white;
  margin-top: .5rem;
}

.input input{
  width: 100%;
  max-width: 300px;
  padding: 0 .3rem;
  background-color: rgba(16,16,16, 0.8);
}

.task {
  width: 50%;
  padding: 0 1rem;
  text-align: center;
}

.task #list-one {
  list-style-position: inside;
  list-style-type: none;
  padding-left: 0;
  width: 80%;
  margin: 0 auto;
}

#list-one button {
  background-color: tomato;
  border: 1px solid white;
  margin-left: .5rem;
  width: 16px;
  height: 16px;
  font-size: 8px;
  padding: 0 .2rem;
    cursor: pointer;
}

#list-one li {
  padding: 0.8rem 0.45rem;
  border: 2px dashed rgba(255,255,255, 0.6);
  margin: .7rem auto;
}

main h1 {
  font-size: 1.8rem;
  color: tomato;
  line-height: 2.0rem;
  text-align: center;
  text-shadow: -2px -2px 0 firebrick,
}

main p, input, li, button {
  font-size: 1.1rem;
}

.list-off {
  display: none;
}